body{
    font-family: 'Open Sans', sans-serif;
}

html {
        scroll-behavior: smooth;
}

/* ---- Set up site grid ----*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav"
        "carousel carousel"
        "header header"
        "about about"
        "location location"
        "footer footer";
}


nav {
    grid-area: nav;
    background-color: #414349; /* black grey */
    color: #f6f7f6; /* grey white */
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #f6f7f6; /* grey white */
}

.carousel {
    grid-area: carousel;
    background-color: #414349; /* black grey */
    color: #f6f7f6; /* grey white */
}

header {
    grid-area: header;
    background-color: #414349; /* black grey */
    color: #f6f7f6; /* grey white */
}

.about {
    background-color: #f6f7f6; /* grey white */
    color: #414349; /* black grey */
}

.location {
    grid-area: location;
    background-color: #414349; /* black grey */
    color: #f6f7f6; /* grey white */
}

.location {
    padding: 48px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}



.about {
    grid-area: about;
}


footer{
    grid-area: footer;
    background-color: #a2a6a2; /* grey green */
    color: #414349; /* black grey */
    text-align: right;
}


/* ---- general formatting ----*/


.box {
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3, a {
    font-family: 'Open Sans Condensed', sans-serif;
}


.logo {
    float: left;
    display: block;
    padding-bottom: 15px;
}


/* navigation menu */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; 
    width: auto;
    text-align: center;
    float: left;
    border: 0;
    color: #f6f7f6; /* grey white */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    position: relative;
    
}  

.nav, li {
     list-style-type: none;
}



/* nav bar animation */
.nav {
    overflow: hidden;
}

.nav::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 0.25rem;
    left: 25%;
    right: 25%;
    bottom: 0;
    background: #f6f7f6; /* grey white */
    transform: translateY(4px);
    transition: transform 0.3s ease;
    
    
}

.nav:hover::after {
    transform: translateY(0);
}


.navbar {
    display: flex;
    align-items: center; justify-content: center;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
}

/* end of nav bar animation */


.toggle-button {
  position: absolute;
  top: 12px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #f6f7f6; /* grey white */
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .nav {
  display: none; 
  width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }  

  .navbar-links ul{
    width: 100%;
    flex-direction: column;

  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 8px 16px;
  }

  .navbar-links.active {
    display: flex;
  }

}

  




/* end of navigation menu */

.scroll-above {
  scroll-margin-top: 170px; /* Makes scroll stop above the headings */
}

.name {
    text-align: center;
}

.map{
    max-height: 400px;
    max-width: 400px;
    left: 0px;
    margin: 25px 100px 25px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

.map iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contact {
    background-color: #414349; /* black grey */
    color: #f6f7f6; /* grey white */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    width: 100px;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    /* transition */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    margin-left: 2000px;
    
}

.contact:hover {
    background-color: #85817f; /* black grey */
    
}

.copyright {
    margin-top: 130px;
}


/* Social media button styling */
/* Customised from https://codepen.io/laurenclark/pen/hGiqo */

.footer-social-icons {
    display: block;
    float: right;
    
}

.social-icon {
    color: #f6f7f6; /* grey white */
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
}


.social-icons li {
    vertical-align: top;
    display: inline-block;
    
}
.social-icons a {
    color: #f6f7f6; /* grey white */

    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    /* transition */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #414349; /* black grey */
}

.fa-facebook:hover {
    background-color: #3d5b99; /* dark blue */
}

.fa-twitter {
    padding:10px 12px;
    /* transition */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #414349; /* black grey */
}
.fa-twitter:hover {
    background-color: #00aced; /* light blue */
}

.fa-linkedin {
    padding:10px 14px;
    /* transition */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #414349; /* black grey */
}
.fa-linkedin:hover {
    background-color: #0073a4; /* dark cyan */
}

/* End Social media button styling */



