body {
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}


/* ---- Set up site grid ----*/

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "nav nav" "carousel carousel" "about about" "location location" "contact contact" "footer footer";
}

nav {
	grid-area: nav;
	background-color: #414349;
	/* black grey */
	color: #f6f7f6;
	/* grey white */
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 2px solid #f6f7f6;
	/* grey white */
}

.carousel {
	grid-area: carousel;
	background-color: #414349;
	/* black grey */
	color: #f6f7f6;
	/* grey white */
	max-height: 500px;
	overflow: hidden;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	max-height: 500px;
	min-height: 500px;
}

@media (max-width: 1000px) {
	.carousel-inner img {
		min-height: auto;
	}
}

.carousel-caption h3,
.carousel-caption p {
	color: #f6f7f6;
	/* grey white */
}

.about .contact-section {
	background-color: #f6f7f6;
	/* grey white */
	color: #414349;
	/* black grey */
}

.location {
	grid-area: location;
	background-color: #414349;
	/* black grey */
	color: #f6f7f6;
	/* grey white */
	padding: 48px;
	display: grid;
	grid-gap: 32px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.about {
	grid-area: about;
}

.contact-section {
	grid-area: contact;
	text-align: center;
}

footer {
	grid-area: footer;
	background-color: #a2a6a2;
	/* grey green */
	color: #414349;
	/* black grey */
	text-align: right;
}


/* ---- general formatting ----*/

.box {
	padding: 20px;
	box-sizing: border-box;
}

h1,
h2,
h3,
a {
	font-family: 'Open Sans Condensed', sans-serif;
}

.logo {
	float: left;
	display: block;
	padding-bottom: 15px;
}


/* navigation menu */

nav {
	grid-area: nav;
	background: #414349;
	/* black grey */
	height: auto;
	width: 100%;
	color: #f6f7f6;
	/* grey white */
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 2px solid #f6f7f6;
	/* grey white */
}

.nav-links {
	list-style-type: none;
	overflow: hidden;
	background-color: transparent;
	width: auto;
	text-align: center;
	float: left;
	border: 0;
	color: #f6f7f6;
	/* grey white */
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
}

.nav-links::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 4px;
	left: 25%;
	right: 25%;
	bottom: 15px;
	background: #f6f7f6;
	/* grey white */
	transform: translateY(20px);
	transition: transform 0.3s ease;
}

.nav-links:hover::after {
	transform: translateY(0);
}

.nav-links:hover {
	color: #f6f7f6;
	/* grey white */
	text-decoration: none;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	border-radius: 3px;
	text-transform: uppercase;
}

.checkbtn {
	font-size: 30px;
	color: #f6f7f6;
	/* grey white */
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

.h-link {
	grid-area: h-link;
}

.a-link {
	grid-area: a-link;
}

.l-link {
	grid-area: l-link;
}

.c-link {
	grid-area: c-link;
}


/* hamburger to cross */

.nav-container {
	display: inline-block;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #f6f7f6;
	/* grey white */
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
	opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 978px) {
	nav ul li a {
		font-size: 16px;
	}
	.nav-links {
		color: #414349;
		/* black grey */
	}
	.checkbtn {
		display: block;
	}
	nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #f6f7f6;
		/* grey white */
		top: 120px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: "h-link" "a-link" "l-link" "c-link";
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	.nav-links::after {
		content: '';
		position: absolute;
		width: 20%;
		height: 4px;
		left: 40%;
		right: 60%;
		bottom: 0.5px;
		background: #414349;
		/* black grey */
		transform: translateY(20px);
		transition: transform 0.3s ease;
	}
	.nav-links:hover {
		color: #414349;
		/* black grey */
		text-decoration: none;
	}
}


/* end of max width tag */

#check:checked~ul {
	left: 0;
}

section {
	background-size: cover;
	height: calc(100% - 80px);
}


/* end of nav bar animation */


/* end of navigation menu */

.anchor {
	scroll-margin-top: 170px;
}

.title {
	text-align: center;
}

.map {
	max-height: 400px;
	max-width: 400px;
	left: 0px;
	margin: 25px 100px 25px 0px;
	box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.27);
}

.map iframe {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.copyright {
	margin-top: 100px;
}


/* Contact page styling */

.inner-width {
	max-width: 600px;
	margin: auto;
	padding: 0 20px;
}

.name,
.email,
.message {
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	color: #414349;
	/* black grey */
	padding: 10px 6px;
	font-size: 14px;
	margin-bottom: 40px;
}

.name {
	float: left;
	width: 270px;
}

.email {
	float: right;
	width: 270px;
}

.message {
	min-width: 100%;
	max-width: 100%;
}

.contact-section button {
	background: none;
	color: #414349;
	/* black grey */
	border: 1px solid #414349;
	/* black grey */
	padding: 12px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.4s linear;
	cursor: pointer;
}

.contact-section button:hover {
	background: #414349;
	/* black grey */
	color: #f6f7f6;
	/* grey white */
}

@media screen and (max-width: 680px) {
	.name,
	.email {
		width: 100%;
	}
	.name,
	.email,
	.message {
		float: left;
	}
}


/* end of contact styling */


/* Social media button styling */


/* Customised from https://codepen.io/laurenclark/pen/hGiqo */

.footer-social-icons {
	display: block;
	float: right;
}

.social-icon {
	color: #f6f7f6;
	/* grey white */
	background-color: transparent;
	box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.27);
	margin-left: 10px;
}

.social-icons li {
	vertical-align: top;
	display: inline-block;
}

.social-icons a {
	color: #f6f7f6;
	/* grey white */
	text-decoration: none;
}

.fa-facebook {
	padding: 10px 14px;
	/* transition */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #414349;
	/* black grey */
}

.fa-facebook:hover {
	background-color: #3d5b99;
	/* dark blue */
}

.fa-twitter {
	padding: 10px 12px;
	/* transition */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #414349;
	/* black grey */
}

.fa-twitter:hover {
	background-color: #00aced;
	/* light blue */
}

.fa-linkedin {
	padding: 10px 14px;
	/* transition */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #414349;
	/* black grey */
}

.fa-linkedin:hover {
	background-color: #0073a4;
	/* dark cyan */
}

.social-icons a:hover {
	color: #f6f7f6;
}


/* End Social media button styling */